body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border-radius:5px;
}
h4{
margin:15px;
font-size: 20px;
}
input[type="submit"]{
  background-color: greenyellow;
  padding:0px 25px 0px 25px;
  
}
button{
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 30px;

}
